<app-city-cards>
    <h1>Component City-Cards</h1>
    <div class="cards">
        <div class="card">
            <div class="photo">
                <img src="/images/cities/1.jpg" alt="">
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis adipisci ea id officia ad. Quis voluptatem quibusdam repudiandae perspiciatis asperiores! Vero deleniti nulla, cum, quod reprehenderit fugit facere quas optio.
            </div>
        </div>
        <div class="card">
            <div class="photo">
                <img src="/images/cities/2.jpg" alt="">
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis adipisci ea id officia ad. Quis voluptatem quibusdam repudiandae perspiciatis asperiores! Vero deleniti nulla, cum, quod reprehenderit fugit facere quas optio.
            </div>
        </div>
        <div class="card">
            <div class="photo">
                <img src="/images/cities/3.jpg" alt="">
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis adipisci ea id officia ad. Quis voluptatem quibusdam repudiandae perspiciatis asperiores! Vero deleniti nulla, cum, quod reprehenderit fugit facere quas optio.
            </div>
        </div>
    </div>
</app-city-cards>