app-city-cards
	display:block;
	.cards
		display: flex;
		background:#fff;
		padding: 5px;
		flex-wrap: wrap;
		.card
			border:1px solid #dadada;
			width:240px;
			box-shadow: 0px 0px 20px 0px rgba(188, 188, 188, 0.5);
			margin-bottom: 20px;
			margin-right: 20px;
			.photo
				overflow:hidden;
				height:130px;
				img
					width:100%;
					height:100%;;
			.text
				padding: 20px;
				font-family: 'Droid Sans', sans-serif;
				line-height: 1.5;
				color:#333;
				font-size:0.85rem