app-food-cards[_food-cards-b1lz8d16ww] {
  display: block;
}
app-food-cards[_food-cards-b1lz8d16ww] h1[_food-cards-b1lz8d16ww] {
  color: #1e00eb;
}
app-food-cards[_food-cards-b1lz8d16ww] .cards[_food-cards-b1lz8d16ww] {
  display: flex;
  background: #fff;
  padding: 5px;
  flex-wrap: wrap;
}
app-food-cards[_food-cards-b1lz8d16ww] .cards[_food-cards-b1lz8d16ww] .card[_food-cards-b1lz8d16ww] {
  border: 1px solid #dadada;
  width: 320px;
  box-shadow: 0px 0px 20px 0px rgba(188,188,188,0.5);
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
}
app-food-cards[_food-cards-b1lz8d16ww] .cards[_food-cards-b1lz8d16ww] .card[_food-cards-b1lz8d16ww]:hover {
  box-shadow: 0px 0px 50px 0px rgba(138,245,154,0.5);
}
app-food-cards[_food-cards-b1lz8d16ww] .cards[_food-cards-b1lz8d16ww] .card[_food-cards-b1lz8d16ww] .photo[_food-cards-b1lz8d16ww] {
  overflow: hidden;
  height: 200px;
}
app-food-cards[_food-cards-b1lz8d16ww] .cards[_food-cards-b1lz8d16ww] .card[_food-cards-b1lz8d16ww] .photo[_food-cards-b1lz8d16ww] img[_food-cards-b1lz8d16ww] {
  width: 100%;
  height: 100%;
}
app-food-cards[_food-cards-b1lz8d16ww] .cards[_food-cards-b1lz8d16ww] .card[_food-cards-b1lz8d16ww] .text[_food-cards-b1lz8d16ww] {
  padding: 20px;
  font-family: 'Droid Sans', sans-serif;
  line-height: 1.5;
  color: #008000;
  font-size: 1.2rem;
}
